.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FBF9EF;
  color: #4F023B;
  text-align: center;
  padding: 10px 0;
  font-size: 0.95rem;
  border-top: 1px solid #e0e0e0;
  z-index: 20;
}

.footer-content {
  display: inline-block;
  font-family: 'Graphik', sans-serif;
}
